@using PRO260_Team2Project.Models.AccountModels
@model List<User>

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Members Directory</h2>
<br />

<div>
    Welcome to the Directory. @ViewBag.TotalResults users are registered.
    <br /> <br />
         @using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <p>@Html.TextBox("SearchString") <br />  
         <input type="submit" value="Search" /></p> 
        } 
    <br /><b>Page: @ViewBag.Page.</b><br /><br />

</div>

@using (Html.BeginForm("Index","Account", FormMethod.Get)){    
         <input type="hidden" name="SortingMethod" value="0" /> 
         <input type="submit" value="SortByScore" />
        } 
@using (Html.BeginForm("Index","Account", FormMethod.Get)){    
         <input type="hidden" name="SortingMethod" value="1" /> 
         <input type="submit" value="SortByName" />
        } 

@foreach (User t in Model)
{
    <b>@t.Id: @*@if(t.IsAdmin){<text>[Admin] </text>}*@<a href="~/Account/Profile/@t.Id">@t.UserName</a></b><br />
}


<br /><b>Page: @ViewBag.Page.</b><br /><br />

@if(ViewBag.Page > 1)
{

using (Html.BeginForm("Index","Account", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@(ViewBag.Page - 1)" /> 
         <input type="submit" value="Previous Page" />
        } 
}
@if(ViewBag.Page < ViewBag.TotalPages)
{
  
using (Html.BeginForm("Index","Account", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@(ViewBag.Page + 1)" /> 
         <input type="submit" value="Next Page" />
        } 
}