@using PRO260_Team2Project.Models.AccountModels
@model List<User>

@{
    ViewBag.Title = "Index";
}

<h2>Members Directory</h2>
<a href="~/Account/Register">Register</a><br />        
<a href="~/Account/Login">Log-in</a><br />
<br />

<div>
    Welcome to the Directory. @ViewBag.TotalResults users are registered.
    <br />
    
    <br /><b>Page: @ViewBag.Page. <br />Results Per Page: @ViewBag.ResultsPerPage.</b><br /><br />

</div>

@foreach (User t in Model)
{
    <b>@t.Id: @*@if(t.IsAdmin){<text>[Admin] </text>}*@<a href="~/Views/Home/Index">@t.UserName</a></b><br /> @* <- This is a temporary URL. It should eventually link to the user's profile. *@
    <b>Points:</b> @:0 <br /><br />
}


<br /><b>Page: @ViewBag.Page. <br />Results Per Page: @ViewBag.ResultsPerPage.</b><br /><br />