@using PRO260_Team2Project.Models.AccountModels
@model User


@{
    ViewBag.Title = "Profile";    
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@if (HttpContext.Current.User.Identity.Name == Model.UserName)
{
<h1>@Model.UserName</h1>
} else {
    <h1>@Model.UserName's Profile</h1>
}
    <header></br>
    <div class="bio">
        <h3>Points: @Model.Points</h3>
        <p>
            @Model.Bio
        </p>
    </div>
    <div class="avatar">
        <img alt="profile image"></div>
    @if (HttpContext.Current.User.Identity.Name == Model.UserName)
    {
        @Html.ActionLink("Edit Profile", "Manage", "Account")
    }
</header>
<div class="portfolio">

</div>