@model PRO260_Team2Project.Models.AccountModels.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Bio)
                @Html.PasswordFor(m => m.Bio)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
    <p>
        Already have an account? <a href="@Url.Action("Login", "Account")" id="contentText">Login.</a>  
    </p>
    <br />
}
