@using PRO260_Team2Project.Models.AccountModels
@model List<User>

@{
    ViewBag.Title = "Index";
}

<h2>Search Results</h2>
<a href="~/">Home</a><br />        
<a href="~/Account/">Members Directory</a><br />
<br />
     @using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <p>@Html.TextBox("SearchString") <br />  
         <input type="submit" value="Search" /></p> 
        } 
<br />

<div>
    Searching users with name containing "@ViewBag.SearchString". @ViewBag.TotalResults results found.
    <br />
    <br /><b>Page: @ViewBag.Page.</b><br /><br />

</div>
@using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="SortingMethod" value="0" />
    <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/> 
         <input type="submit" value="SortByScore" />
        } 
@using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="SortingMethod" value="1" /> 
    <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="SortByName" />
        } 

@foreach (User t in Model)
{
    <b>@t.Id: @*@if(t.IsAdmin){<text>[Admin] </text>}*@<a href="~/Views/Home/Index">@t.UserName</a></b><br /> @* <- This is a temporary URL. It should eventually link to the user's profile. *@
    <b>Points:</b> @:0 <br /><br />
}


<br /><b>Page: @ViewBag.Page.</b><br /><br />

@if(ViewBag.Page > 1)
{
using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@ViewBag.Page - 1" />
         <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="Previous Page" />
        } 
}
@if(ViewBag.Page < ViewBag.TotalPages)
{
using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@ViewBag.Page + 1" />
         <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="Next Page" />
        } 
}