@using PRO260_Team2Project.Models.AccountModels
@model List<User>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h1>Search Results</h1>       
<br />
     @using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <p>@Html.TextBox("SearchString") <br />  
         <input type="submit" value="Search" /></p> 
        } 
<br />

<div class="welcome">
    Searching users with name containing "@ViewBag.SearchString". @ViewBag.TotalResults results found.
<br /><b>Page: @ViewBag.Page.</b><br /><br /></div>

<div class="welcome">
@foreach (User t in Model)
{
    <b><a href="~/Account/Profile/@t.Id">@t.UserName</a></b><br />
    <b>Points:</b> @:0 <br /><br />
}


<br /><b>Page: @ViewBag.Page.</b><br /><br />
    </div>
@if(ViewBag.Page > 1)
{
using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@ViewBag.Page - 1" />
         <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="Previous Page" />
        } 
}
@if(ViewBag.Page < ViewBag.TotalPages)
{
using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@ViewBag.Page + 1" />
         <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="Next Page" />
        } 
}@using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="SortingMethod" value="0" />
    <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/> 
         <input type="submit" value="SortByScore" />
        } 
@using (Html.BeginForm("Search","Account", FormMethod.Get)){    
         <input type="hidden" name="SortingMethod" value="1" /> 
    <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="SortByName" />
        } 