<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Assets/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/styles.css" />
    <script src="~/Assets/jquery-2.1.0.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="content">
        <nav>
            <img class="logo" src="/Assets/Images/logo.png">
            <form class="search">
                <input type="text" name="username" />
                <input type="submit" value="Search">
            </form>
            <div class="memberOptions">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Profile", "Account", new { id = WebSecurity.CurrentUserId })">
                            <li>Profile</li>
                        </a>
                        <a href="@Url.Action("MessageCenter", "MessageCenter")">
                            <li>Messages</li>
                        </a>
                        <a href="@Url.Action("Logout", "Account")">
                            <li>Logout</li>
                        </a>
                    }
                    else{
                        <a href="@Url.Action("Login", "Account")">
                            <li>Login / Register</li>
                        </a>
                    }
                    <a href="@Url.Action("Index", "Account")>
                            <li>Accounts</li>
                        </a>
                </ul>
            </div>
            <ul>
                <a href="@Url.Action("Index", "Home")">
                    <li>
                        <div class="icon">
                            <img src="~/Assets/Images/Icons/home32.png" />
                        </div>
                        <div class="navLink">Home</div>
                    </li>
                </a>
                <a href="@Url.Action("Featured", "Home")">
                    <li>
                        <div class="icon">
                            <img src="~/Assets/Images/Icons/moneyreceipt32.png" />
                        </div>
                        <div class="navLink">Auctions</div>
                    </li>
                </a>
                <a href="@Url.Action("UploadImage", "Home")">
                    <li>
                        <div class="icon">
                            <img src="~/Assets/Images/Icons/upload32.png" />
                        </div>
                        <div class="navLink">Upload Image</div>
                    </li>
                </a>
            </ul>
        </nav>
        <div class="mainContent" id="container">
            @RenderBody()
            <footer>
                <ul>
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Auctions", "Featured")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Upload", "UploadImage")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Login/Register", "Login")</li>
                </ul>
            </footer>
        </div>
    </div>
</body>

<script src="~/Content/Assets/scripts.js"></script>
</html>
