<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Assets/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="content">
        <nav>
            <img class="logo" src="/Assets/Images/logo.png">
            <form class="search">
                <input type="text" name="username" />
                <input type="submit" value="Search">
            </form>
            <ul>
                <li>
                    <div class="icon">
                        <img src="~/Assets/Images/Icons/home32.png" />
                    </div>
                    <div class="navLink">@Html.ActionLink("Home", "Index")</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="~/Assets/Images/Icons/contactcard32.png" />
                    </div>
                    <div class="navLink">@Html.ActionLink("Profile", "Profile")</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="~/Assets/Images/Icons/moneyreceipt32.png" />
                    </div>
                    <div class="navLink">@Html.ActionLink("Auctions", "Featured")</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="~/Assets/Images/Icons/upload32.png" />
                    </div>
                    <div class="navLink">@Html.ActionLink("Upload", "UploadImage")</div>
                </li>
                <li>
                    <div class="icon">
                        <img src="~/Assets/Images/Icons/article32.png" />
                    </div>
                    <div class="navLink">@Html.ActionLink("Login/Register", "Login", "Account")</div>
                </li>
            </ul>
        </nav>
        <div class="mainContent" id="container">
            @RenderBody()
            <footer>
                <ul>
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Profile", "Profile")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Auctions", "Featured")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Upload", "UploadImage")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Login/Register", "Login")</li>
                    <li>|</li>
                    <li>@Html.ActionLink("Single Image", "Image")</li>
                </ul>
            </footer>
        </div>
    </div>
    <script src="Assets/scripts.js"></script>
    <script src="Assets/bootstrap/js/bootstrap.js"></script>
    <script src="Assets/jquery-2.1.0.min.js"></script>
</body>
</html>
