@model PRO260_Team2Project.Models.Notification

<div class="@Model.type">
    <div class="timestamp">@Model.timeStamp</div>
    @if (Model.type.Equals("CommentNote"))
    {
        <div>
        @Model.userName has commented on your image "@Html.ActionLink(Model.title, "SingleImage", "Image", Model.imgown, null)" saying:
            </div>
        <div class="Notecontent">@Model.Content</div>
    }
    else if (Model.type.Equals("flagNote"))
    {
        <div>User @Model.PosterID, @Model.userName submitted a flag for @Html.ActionLink("image ID "+Model.ImageID,"veiwOverallImage/"+Model.ImageID,"Flag")</div>
        <div>Complaint:</div>
        <div class="Notecontent">@Model.Content</div>
    }else if(Model.type.Equals("LikeNote"))
    {
       <div>@Model.userName has liked "@Html.ActionLink(Model.title, "SingleImage", "Image", Model.imgown, null)"!</div>
    }else if(Model.type.Equals("MessageNote"))
    {
       <div>New Message From @Model.userName!</div>
       <div>Subject: @Model.title</div>
       <div class="Notecontent">@Model.Content</div>
    }else if(Model.type.Equals("PurchaseNote"))
    {
       <div>@Model.userName has purchased "@Model.title" for @Model.Content!</div>
    }
    else
    {
    <div>@Model.PosterID on @Model.ImageID</div>
    <div class="Notecontent">@Model.Content</div>
    }


</div>


