@using PRO260_Team2Project;
@*@foreach(Image i in Model)
{
    <div>
        <img class="images">
        <ul>
            <li>Image ID: @i.ImageID</li>
            <li>OP ID: @i.OriginalPosterID</li>
            <li>Tags:
                @if (i.ImageTags != null)
                {
                    foreach (Image image in Model)
                    {
                        image.ToString();
                    }
                }
            </li>
        </ul>
    </div>
}*@

@if(Model != null && Model.Count > 0)
{
   foreach (ImageOwner io in Model)
    {
       using(ImageHolderContext ihc = new ImageHolderContext())
       {
        <div class="indexImage">
            <img src="data:image;base64,@System.Convert.ToBase64String(io.Image.Image1)" class="images"/>
            <ul>
                @ihc.ImageOwners.Attach(io);
                <li>@Html.ActionLink(io.Title, "SingleImage", "Image", io, null)</li>
                @*<li>@Html.ActionLink(io.Title, "SingleImage", "Image", io)</li>*@
            </ul>
        </div>
       }
    }
}