@using PRO260_Team2Project
@model List<Image>

@{
    ViewBag.Title = "Search";
}

<h2>Image Search</h2>

<br />
     @using (Html.BeginForm("Search","Image", FormMethod.Get)){    
         <p>@Html.TextBox("SearchString") <br />  
         <input type="submit" value="Search" /></p> 
        } 
<br />

<div>
    Searching images with name containing "@ViewBag.SearchString". @ViewBag.TotalResults results found.
    <br />
    <br /><b>Page: @ViewBag.Page.</b><br /><br />
</div>

@foreach (Image t in Model)
{
    <b>@t.ImageID:</b> @Html.ActionLink("Image", "SingleImage", "Image"); @* I need this thing to show the image and link to the right place. *@
}


<br /><b>Page: @ViewBag.Page.</b><br /><br />

@if(ViewBag.Page > 1)
{
using (Html.BeginForm("Search","Image", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@ViewBag.Page - 1" />
         <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="Previous Page" />
        } 
}
@if(ViewBag.Page < ViewBag.TotalPages)
{
using (Html.BeginForm("Search","Image", FormMethod.Get)){    
         <input type="hidden" name="Page" value="@ViewBag.Page + 1" />
         <input type="hidden" name="SearchString" value="@ViewBag.SearchString"/>
         <input type="submit" value="Next Page" />
        } 
}