@using PRO260_Team2Project
@model ImageOwner

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = Model.Title;
            //string s = "";
    
}
<div class="imageSection">
    <div class="imageContainer">
        <h1 class="imageTitle">@Model.Title</h1>
        <div class="image">
            <img src="@ViewBag.Image" class="images" />
        </div>
    </div>
    <div class="regPrice" id="contentText">
        <h5>Price: @Model.Price</h5>
        @Html.ActionLink("Purchase", "BuyImage", "Image", Model, null)
    </div>
    <div class="saleInfo">
        @if (Model.isAuction == true)
        {
            @:Current Bid: @Model.Auction_.CurrentBid 
        }
    </div>
</div>

<div class="imageInfo" id="contentText">
    
        <h2>@Model.Title</h2>
        Time uploaded: @Model.TimeStamp.ToString("MM/dd/yyyy");
    
        Caption: @Model.Caption
        Tags:
    @foreach (string t in ViewBag.Tags)
    {
        @:#t
    }
    @* @Html.Partial("~/Views/Shared/_ManageTags.cshthml", @Model)*@
    <div class="like">
        Likes: @ViewBag.LikeCount
        @Html.ActionLink("Like Image", "LikeImage", "Image", Model, null)
    </div>
    <div class="Add Comment">
        @Html.ActionLink("Add Comment", "AddComment", "Comment", Model, null)
    </div>
    <div class="Flag Link">
        @Html.ActionLink("Flag Image", "Flag/AddFlag/" + Model.ImageID)
    </div>
</div>

